{% extends "layout.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="assets/css/profile.css">
{% endblock %}

{% block title %}
    {{ nickname }}
{% endblock %}

{% block body %}
<header>
    {% include "partials/_nav-logout.html.twig" %}
</header>

<main>
    <h1>Bienvenue sur ton profile <span class="uppercase">{{ nickname }}</span></h1>

    <section id="user-money">
        <h2>Ton argent : {{ money }} €</h2>
        <button onclick="window.location.href = '?route=add-money'">+</button>
    </section>

    <section id="groups">
        <h2>Tes groupes</h2>

        {% for group in groups %}
            <div>
                <p class="group-name uppercase">{{ group["name"] }}</p>
                <p class="group-amount">{{ group["amount"] }} €</p>
                <p class="last-expenses">Dernière dépense</p>

                {% for expense in group["expenses"] %}
                    <div>
                        <p class="expense">{{ expense["ownerName"] }}</p>
                        <p class="expense">{{ expense["reason"] }}</p>
                        <p class="expense">{{ expense["amount"] }} €</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <button onclick="window.location.href = '?route=groups'">Voir plus</button>
    </section>

    <section id="joinRequest">
        <h2>Demande d'adhésion en attente</h2>

        <table>
                <thead>
                    <tr>
                        <th>Propriétaire</th>
                        <th>Groupe</th>
                        <th>Etat</th>
                        <th>Accepter</th>
                        <th>Refuser</th>
                    </tr>
                </thead>

                <tbody>
                    {% for memberRequest in joinRequests %}
                        <tr>
                            <td>{{ memberRequest["senderName"] }}</td>
                            <td>{{ memberRequest["groupName"] }}</td>
                            <td>{{ memberRequest["status"] }}</td>
                            <td><button class="accept" onclick="window.location.href = '?route=joinRequest-accept&joinRequestId={{ memberRequest["id"] }}'">Accepter</button></td>
                            <td><button class="refuse" onclick="window.location.href = '?route=joinRequest-refuse&joinRequestId={{ memberRequest["id"] }}'">Refuser</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </section>
</main>
{% endblock %}